p {
	color: black;
	font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
	font-size: 300%;
	margin: 0;
	margin-bottom: 10px;
	font-weight: 30;
	text-align: center;
}

h1 {
	color: #000;
	text-align: center;
	margin: 0;
	font-family: 'Playfair Display', serif;
	font-weight: 25;
	font-size: 800%;
	margin-top: 90px;
}

body {
	background: url("pictures/marble3.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	margin: 0px;
}

a {
	color: #000;
	text-decoration: none;
}

a:hover {
	font-weight: 500;
}