p {
	color: black;
	font-family: "Roboto", "Helvetica", Arial, sans-serif;
	font-size: 100%;
	margin-top: 0px;
	font-weight: 300;
	text-align: center;

}
.important {
	font-weight: bold;
}
#masthead h1 {
	color: #FF799C;
	/*possibly change color to match the logo square*/
	/*font-family: 'Open Sans Condensed', sans-serif;*/
	/*font-family: Helvetica, Arial, sans-serif;*/
	font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
	font-weight: 100;
	font-size: 700%;
	text-transform: uppercase;
	margin: 0px;
	line-height: 80%;
	text-shadow: 3px 3px 3px #aaa;
	margin-top: 16px;
	/*margin-top: 30px;*/
}
#masthead {
	background-color: rgba(255, 255, 255, .7);
	padding: 5px;
	text-align: center;
	margin: 0px;
	/*position: fixed;*/
	width: 100% - 10px;
	top: 0;
}
body {
	/*padding-top: 132px;*/
	background: url("pictures/chevron_bg.jpg") repeat center center;
	width: 100%;
	height: 100%;
	margin: 0px;
}
#masthead .pronounce {
	font-size: 70%;
	color: rgba(0,0,0, .9);
	margin-bottom: 2px;
	font-weight: 300;
}

#topmenu {
	/*how can I make everything evenly spaced*/
	width: 20%;
}

a {
	color: #FF799C;
	font-weight: 500;
}

a:hover {
	color: pink;
}

section img {
	width: 20%;
	padding: 0;
	margin: 0;
}
#pretty img {
	-webkit-transition: all .75s;
	transition: all .75s;
}
#pretty:hover img {
	filter: blur(4px) grayscale(100%);
	-webkit-filter: blur(3px) grayscale(100%);
	-moz-filter: grayscale(100%);
}
#pretty img:hover {
	-webkit-filter: none;
	filter: none;
}

.stay img {
	filter: blur(4px) grayscale(100%);
	-webkit-filter: blur(3px) grayscale(100%);
	-moz-filter: grayscale(100%);
}

h2 {
	color: #FF799C;
	font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
	font-weight: 100;
	font-size: 300%;
	text-transform: lowercase;
	text-align: center;
	margin: 2px;
	text-shadow: 3px 3px 3px #aaa;

}

h3 {
	font-weight: 300;


}


#social img{
	width: 15%;
	-webkit-transition: all .5s;
	transition: all .5s;
}

#social:hover img {
	filter: blur(1px);
	-webkit-filter: blur(1px);
}
#social img:hover{
	width: 18%;
	-webkit-filter: none;
	filter: none;
}

.content {
	background-color: rgba(255, 255, 255, .7);
	/*padding: 20px;*/
	padding: 20px;
	width: 100% - 40px;
}

.textcontent {
	margin-left: 27%;
	margin-right: 27%;
	font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
	text-align: center;
}

#about {
	display: none;
}
#code {
	display: none;
}
#resume {
	display: none;
}
#music {
	display: none;
}
#contact {
	display: none;
}

#display {
	display: hidden;
}

.slide {

}


.disney b {
	color: #FF799C;
	font-weight: 400;
	font-weight: 400;
	font-size: 120%;
}

