.middle {
	margin: 0;
	text-align: center;
}

p {
	color: black;
	font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
	font-size: 200%;
	margin-top: 0px;
	font-weight: 300;
	text-align: center;
}

h1 {
	color: #000;
	margin: 0;
	font-family: 'Playfair Display', serif;
	font-weight: 25;
	font-size: 750%;
	margin-top: 90px;
}

body {
	/*padding-top: 132px;*/
	background: url("pictures/marble3.jpg") repeat;
	width: 100%;
	height: 100%;
	margin: 0px;
}
